/* Google Fonts  */

.prompt-thin {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.prompt-extralight {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.prompt-light {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.prompt-regular {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.prompt-semibold {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.prompt-bold {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.prompt-extrabold {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.prompt-black {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.prompt-thin-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.prompt-extralight-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.prompt-light-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.prompt-regular-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.prompt-medium-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.prompt-semibold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.prompt-bold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.prompt-extrabold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.prompt-black-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "Prompt", sans-serif;
}

/* Main container styling */
.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Form styling */
.mainForm {
  text-align: center;
  border: 2px solid #66a8ff;
  border-radius: 20px;
  padding: 20px 40px 40px 40px;
  background-color: #0077ff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.displayRemove {
  display: none;
}

.displayAppend {
  display: block;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}

/* Label styling */
.formLabel {
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-align: left;
  display: block;
  margin-bottom: -8px;
}

/* Input field styling */
.formInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.formInput:focus {
  border-color: #ff5722;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

/* Button styling */
.submitBtn {
  background-color: #ff5722;
  color: white;
  font-size: 18px;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitBtn:hover {
  background-color: #ff7043;
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.submitBtn:active {
  background-color: #ff5722;
  transform: translateY(0px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Simulatio  area styling  */

.simulationItem1 {
  grid-area: heading;
}
.simulationItem2 {
  grid-area: lift;
}
.simulationArea {
  padding: 10px 5rem 10px 5rem;
  
}
.simulation {
  display: grid;
  grid-template-areas: "heading heading heading lift lift lift";
  border-bottom: 4px solid black;
  padding-bottom: 10px;
  /* width: 200px; */
  gap: 20px;
  height: 160px;
}

.simulationHeading {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 220px;
}

/* Main Lift Styling  */

.lift-container {
  position: relative;
  width: 100px;
  height: 160px;
  background-color: #999;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  gap: 5px;
}

.liftArea {
  display: flex;
  /* grid-template-columns: repeat(5, 1fr);
  align-items: center; */
  justify-content: left;
  gap: 100px;
  padding: 10px 0 10px 0;
}

.door-left {
  text-align: end;
  position: absolute;
  color: white;
  font-weight: 500;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #0fa723;
  transition: width 1s ease;
}

.door-right {
  position: absolute;
  color: white;
  font-weight: 500;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #0fa723;
  transition: width 1s ease;
}


/* Button CSS */
.button-3 {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}
.button-4 {
  background-color: #b6801c;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}


.button-4:hover {
  background-color: #af5a15;
}
.button-3:hover {
  background-color: #2c974b;
}
